#vanta {
   z-index: -5;
   width: 100%;
   height: 110%;
   position: fixed;
}

.carousel-inner-home{
   height: 400pt;
}

.onExhibitCard {
   background-color: #ffffff97;
 }

.tobeExhibitCard {
   background-color: #ffffff97;
 }

.footer-links a{
   color:#FFFAD4;
}

.footer-links a:hover{
    color:#efeac7;
}

.footer-links a:focus{
   color: #efeac7;
}

